body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.notifications_listing{
  margin-top: 30px;
  display: flex;
  align-items: center;
  gap: 10px;
  align-items: center;
}
.flex{
  display: flex;
}
.gap-10{
  gap: 10px;
}
.notifications_listing button{
  height: 25px;
}
.notifications_button{
  display: flex;
  gap: 15px;
}
.notifications_button button{
  padding: 12px 15px;
  background: #dedede;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.items-center{
  align-items: center;
}
.notification_item{
  border-bottom: 1px solid #ddd;
  justify-content: space-between;
}
.notification_item button{
  background: #67d166;
  border: none;
  padding: 5px 15px;
  border-radius: 4px;
  color: #f1ebeb;
  cursor: pointer;
}